networks:
  raft-net:
    driver: bridge

volumes:
  node1-data:
  node2-data:
  node3-data:

services:
  node-1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: raft-node-1
    networks: [raft-net]
    ports:
      - "8081:8080"
    volumes:
      - node1-data:/data
    environment:
      RAFT_INTERNAL_STORAGE_LOCATION: "/data/config-store"
      RAFT_SNAPSHOT_LOCATION: "/data/snapshots"
      RAFT_LOG_NAME: "store"

      RAFT_NODE_SERVER_ID: "node-1"
      RAFT_ADDR: "node-1:9090"
      RAFT_SEED_MGMT_SERVER_ADDRESS: "http://node-1:8080/raft/add-voter"

      RAFT_TCP_TRANSPORT_POOL: "3"
      RAFT_TCP_TRANSPORT_TIMEOUT: "30s"
      RAFT_MAX_CONNECTION_RETRIES: "10"
      RAFT_SNAPSHOT_RETAIN_NUM: "2"

      APP_ADDR: "0.0.0.0:8080"
      IS_FIRST_NODE_IN_CLUSTER: "true"

  node-2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: raft-node-2
    networks: [raft-net]
    ports:
      - "8082:8080"
    volumes:
      - node2-data:/data
    depends_on:
      - node-1
    environment:
      RAFT_INTERNAL_STORAGE_LOCATION: "/data/config-store"
      RAFT_SNAPSHOT_LOCATION: "/data/snapshots"
      RAFT_LOG_NAME: "store"

      RAFT_NODE_SERVER_ID: "node-2"
      RAFT_ADDR: "node-2:9090"
      RAFT_SEED_MGMT_SERVER_ADDRESS: "http://node-1:8080/raft/add-voter"

      RAFT_TCP_TRANSPORT_POOL: "3"
      RAFT_TCP_TRANSPORT_TIMEOUT: "30s"
      RAFT_MAX_CONNECTION_RETRIES: "10"
      RAFT_SNAPSHOT_RETAIN_NUM: "2"

      APP_ADDR: "0.0.0.0:8080"
      IS_FIRST_NODE_IN_CLUSTER: "false"

  node-3:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: raft-node-3
    networks: [raft-net]
    ports:
      - "8083:8080"
    volumes:
      - node3-data:/data
    depends_on:
      - node-1
    environment:
      RAFT_INTERNAL_STORAGE_LOCATION: "/data/config-store"
      RAFT_SNAPSHOT_LOCATION: "/data/snapshots"
      RAFT_LOG_NAME: "store"

      RAFT_NODE_SERVER_ID: "node-3"
      RAFT_ADDR: "node-3:9090"
      RAFT_SEED_MGMT_SERVER_ADDRESS: "http://node-1:8080/raft/add-voter"

      RAFT_TCP_TRANSPORT_POOL: "3"
      RAFT_TCP_TRANSPORT_TIMEOUT: "30s"
      RAFT_MAX_CONNECTION_RETRIES: "10"
      RAFT_SNAPSHOT_RETAIN_NUM: "2"

      APP_ADDR: "0.0.0.0:8080"
      IS_FIRST_NODE_IN_CLUSTER: "false"
